@model WebsiteBanCoffee.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetails</title>
</head>
<body>
    @Html.Partial("SideNavBar")
    <div>
        <h2 class="text-center">@Html.DisplayFor(model => model.name)</h2>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <img src="/@Html.DisplayFor(model => model.image)" alt="thumbnail" height=500px, width=500px />
            </div>
            <div class="caption text-center">
                <p>Tên loại: @Html.DisplayFor(model => model.cate.name)</p>
                <p>@Html.DisplayNameFor(model => model.costPrice): @Html.DisplayFor(model => model.costPrice)</p>
                <p>@Html.DisplayNameFor(model => model.sellPrice): @Html.DisplayFor(model => model.sellPrice)</p>
                <p>@Html.DisplayNameFor(model => model.description): @Html.DisplayFor(model => model.description)</p>
            </div>
        </div>
        <p class="text-center">
            <a href="@Url.Action("EditProduct","Admin", new {id = Model.Id})" class="btn btn-primary">Chỉnh sửa</a>
            <a href="@Url.Action("ListProduct","Admin")" class="btn btn-success">Trở về</a>
        </p>
</body>
</html>
