@model IEnumerable<WebsiteBanCoffee.Models.Product>

@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color: white">
    <h2>ListProduct</h2>

    <form asp-action="Index" method="get" class="form-inline">
        <select asp-items="ViewBag.Cate" name=""
    </form>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cate.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDisplay)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cate.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isDisplay)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>
